{
  "root": true,
  "extends": [
    "eslint-config-egg/typescript",
    "eslint-config-egg/lib/rules/enforce-node-prefix",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "jsdoc/check-tag-names": [
      "warn",
      {
        "definedTags": ["Date", "Author", "LastEditors", "LastEditTime"]
      }
    ]
  }
}